@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    font-size: 2em;
    color: black;
    font-weight: 700;
    text-decoration: none;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
    transition: 0.5s;
}

.toggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(../images/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle.active {
    background: url(../images/close.png);
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    background-size: 25px;
}

.toggle:before {
    content: 'MENU';
    position:absolute;
    right: 45px;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 2px 4px;
}

.toggle.active:before {
    content: 'CLOSE'
}

.nav {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
}

.nav li {
    list-style: none;
    text-align: center;
    margin-bottom: 20px;
}

.nav li a {
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 3px;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0px 10px;
}

.nav li a:hover {
    border: 1px solid black;
}

.nav li a:visited {
    color: black;
}

section.active .nav {
    visibility: visible;
    opacity: 1;
    z-index: 10;
    transition: 0.25s;
}

.glass {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    z-index: 1;
    transition: 0.5s;
    backdrop-filter: blur(20px);
}

section.active .glass {
    width: 100%;
}

#landing-page {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../images/landing-page.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing-text {
    position: relative;
    font-size: 12em;
    color: white;
    text-shadow: 5px 5px 10px #000000;
    transform: translateY(-45%);
    transition: 0.5s;
}

section.active #landing-text {
    transform: translateY(500px);
    visibility: hidden;
    opacity: 0;
}

.clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.clouds img {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: animate calc(3s * var(--i)) linear infinite;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    25%, 75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: scale(3);
    }
}

#about {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8FF;
}

.about-text {
    width: 55%;
    height: 50%;
    padding-left: 10%;
}

.about-text h1 {
    font-size: 4rem;
}

.about-text h2 {
    font-size: 2rem;
}

.about-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.about-image {
    width: 45%;
    height: 50%;
    text-align: center;
}

.about-image img {
    height: 100%;
    width: auto;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2);
}

.socials {
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
}

.socials li {
    list-style: none;
}

.socials li a {
    display: block;
    position: relative;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 40px;
    text-align: center;
    text-decoration: none;
    color: #262626;
    margin-top: 10px;
    margin-right: 30px;
    transition: 0.5s;
}

.socials li a span {
    position: absolute;
    transition: transform 0.5s;
}

.socials li a span:nth-child(1),
.socials li a span:nth-child(3) {
    width: 100%;
    height: 2px;
    background: #262626;
}

.socials li a span:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
}

.socials li a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
}

.socials li a span:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
}

.socials li a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}

.socials li a span:nth-child(2),
.socials li a span:nth-child(4) {
    width: 2px;
    height: 100%;
    background: #262626;
}

.socials li a span:nth-child(2) {
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: bottom;
}

.socials li a:hover span:nth-child(2) {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.5s;
}

.socials li a span:nth-child(4) {
    top: 0;
    right: 0;
    transform: scaleY(0);
    transform-origin: top;
}

.socials li a:hover span:nth-child(4) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
}

#skills {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url(../images/skills-page.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    flex-wrap: wrap;
}

.skills-title {
    position: absolute;
    top: 8%;
    font-family: 'Brush Script MT', cursive;
    font-size: 13em;
}

.card {
    position: relative;
    width: 350px;
    height: 500px;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

.content {
    text-align: center;
    padding: 30px;
}

.content h1 {
    font-size: 3em;
}

.content h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content p {
    font-size: 1em;
}

#projects {
    width: 100%;
    height: 100vh;
    display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 60px 2% 20px 2%;
    background: linear-gradient(to right, #bdc3c7, #2c3e50);
}

.projects-title {
    font-size: 4rem;
	text-align: center;
	font-weight: 500;
	padding: 10px 30px;
	letter-spacing: 4px;
    color: black;
    margin-bottom: 60px;
}

.projects-container {
	width: 85%;
	height:70vh;
	display:grid;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows: auto auto;
	grid-gap: 10px;
}

.project-card {
	background-color: #1F1F1F;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
	position: relative;
}

.project-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.overlay-text {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: rgba(23,209,172,0.80);
	display:none;
}

.overlay-text h1 {
    color: #FFFFFF;
    text-align: center;
	font-size: 2rem;
	margin: 0px;
	padding: 0px;
	letter-spacing: 2px;
    font-weight: 600;
}

.overlay-text p {
    color: #FFFFFF;
    text-align: center;
	font-size: 1rem;
	padding: 5px 30px;
}

.project-card:hover .overlay-text {
	display: flex;
}

#contact {
    width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../images/contact-page.jpg");
	background-size: cover;
    background-position: top;
}

#contact form {
	display: flex;
	width: 1000px;
	height: 575px;
	border-radius: 15px;
	color: #FFFFFF;
	padding-top: 50px;
	padding-bottom: 50px;
    backdrop-filter: blur(3px);
    background:rgba(255, 255, 255, 0.1);
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.contact-heading {
	font-family: calibri;
	color:#FFFFFF;
	font-size: 3rem;
	letter-spacing: 2px;
	font-weight: 400;
    margin-bottom: 40px;
}

.contact-left {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
    justify-content: center;
}

.contact-right {
	width: 60%;
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	border-left: 1px solid rgba(255,255,255,0.5);
    justify-content: center;
}

.contact-right button {
	width: 40%;
	left: 30%;
	position: relative;
	height: 50px;
	min-height: 40px;
	background: white;
	border-radius: 30px;
	cursor: pointer;
	text-transform: uppercase;
	border-style: solid;
	border-color: white;
	font-weight: 600;
}

.contact-name, .contact-email {
	display: flex;
	flex-direction: column;
    font-family: calibri;
}

.contact-name h3, .contact-email h3 {
	color:black;
	font-size: 22px;
}

.contact-name input, .contact-email input, .contact-message input {
	height: 50px;
	width: 300px;
	margin-top: 15px;
	margin-bottom: 15px;
	background: transparent;
	outline: none;
	padding: 10px;
	font-size: 18px;
	border-radius: 30px;
	box-shadow: 0 0 4px #FFFFFF;
	transition: box-shadow 0.5s ease;
	color: black;
	border-style: solid;
    border: none;
    padding-left: 20px;
}

.contact-email input::placeholder, .contact-name input::placeholder {
	color: black;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: calibri;
	opacity: 0.7;
}

.contact-message { 
    margin: 0px 30px 30px 30px;
}

.contact-message h3 {
	font-size: 22px;
	color: black;
}

.contact-right textarea {
	width: 100%;
	height: 300px;
	border: none;
	outline: none;
	background-color:transparent;
	color: black;
	font-size: 18px;
	margin-top: 10px;
    resize: none;
}

.contact-right textarea::placeholder {
	color: black;
	font-size: 18px;
	letter-spacing: 2px;
	font-family: calibri;
	opacity: 0.5;
}

.contact-right button:active {
	transform: scale(1.03);
	transition: all ease 0.1s;
    outline: none;
}

@media (max-width: 2000px) {

    header {
        padding: 15px 25px;
    }

    .logo {
        font-size: 1.5em;
    }

    .toggle {
        width: 30px;
        height: 30px;
    }

    .toggle:before {
        font-size: 12px;
        padding: 0px;
    }

    .nav li a {
        font-size: 1.5em;
    }

    #landing-text {
        font-size: 9em;
    }

    .about-text h1 {
        font-size: 3rem;
    }
    
    .about-text h2 {
        font-size: 1.5rem;
    }
    
    .about-text p {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .socials li a {
        height: 40px;
        width: 40px;
        line-height: 40px;
        font-size: 25px;
    }

    .socials li a span:nth-child(1),
    .socials li a span:nth-child(3) {
        height: 1px;
    }

    .socials li a span:nth-child(2),
    .socials li a span:nth-child(4) {
        width: 1px;
    }

    .skills-title {
        font-size: 8em;
    }

    .card {
        width: 300px;
        height: 430px;
        margin: 20px;
    }

    .content {
        padding: 20px;
    }

    .content h1 {
        font-size: 2.2em;
    }

    .content h2 {
        font-size: 1.25em;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .content p {
        font-size: 1em;
    }

    .projects-title {
        font-size: 2.5rem;
        letter-spacing: 3px;
        margin-bottom: 20px;
        font-weight: 400;
    }

    .projects-container {
        grid-gap: 7px;
    }

    .overlay-text h1 {
        font-size:  1.5rem;
        font-weight: 500;
    }

    .overlay-text p {
        font-size: 0.9rem;
    }

    #contact form {
        width: 775px;
        height: 475px;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .contact-heading {
        font-size: 2.3rem;
        font-weight: 300;
        margin-bottom: 30px;
    }

    .contact-right button {
        height: 40px;
        font-weight: 500;
    }

    .contact-name h3, .contact-email h3 {
        font-size: 18px;
    }

    .contact-name input, .contact-email input, .contact-message input {
        height: 40px;
        width: 250px;
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 15px;
    }

    .contact-email input::placeholder, .contact-name input::placeholder {
        font-size: 15px;
        letter-spacing: 1px;
    }

    .contact-message h3 {
        font-size: 18px;
    }

    .contact-right textarea {
        height: 250px;
        font-size: 15px;
        margin-top: 5px;
    }
    
    .contact-right textarea::placeholder {
        font-size: 15px;
        letter-spacing: 1px;
    }
}

@media (max-width: 1500px) {

    header {
        padding: 15px 25px;
    }

    .nav li a {
        font-size: 1em;
    }

    #landing-text {
        font-size: 7em;
    }

    .about-text {
        height: 60%;
        width: 60%;
    }

    .about-text h1 {
        font-size: 2rem;
    }
    
    .about-text h2 {
        font-size: 1.25rem;
    }
    
    .about-image {
        width: 40%;
    }

    .skills-title {
        top: 4%;
        font-size: 7em;
    }
}

@media (max-width: 1400px) {

    header {
        padding: 10px 20px;
    }

    #landing-text {
        font-size: 6em;
    }

    .about-text {
        height: 75%;
        width: 60%;
    }

    .skills-title {
        font-size: 5em;
    }

    .card {
        width: 260px;
        height: 375px;
        margin: 15px;
    }

    .content h1 {
        font-size: 1.75em;
    }

    .content h2 {
        font-size: 1.1em;
    }

    .content p {
        font-size: 0.95em;
    }

    .projects-title {
        font-size: 2rem;
        letter-spacing: 2px;
        margin-bottom: 10px;
        font-weight: 300;
    }

    .projects-container {
        grid-gap: 6px;
    }

    .overlay-text h1 {
        font-size:  1.25rem;
    }

    #contact form {
        width: 675px;
        height: 400px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .contact-heading {
        font-size: 2rem;
        font-weight: 200;
        margin-bottom: 20px;
    }

    .contact-right button {
        height: 30px;
        min-height: 30px;
        font-weight: 400;
        font-size: 13px;
    }

    .contact-name h3, .contact-email h3 {
        font-size: 15px;
    }

    .contact-name input, .contact-email input, .contact-message input {
        height: 30px;
        width: 225px;
        font-size: 13px;
        padding-left: 13px;
    }

    .contact-email input::placeholder, .contact-name input::placeholder {
        font-size: 13px;
    }

    .contact-message h3 {
        font-size: 15px;
    }

    .contact-right textarea {
        height: 200px;
        font-size: 13px;
        margin-top: 5px;
    }
    
    .contact-right textarea::placeholder {
        font-size: 13px;
    }
}

@media (max-width: 500px) {

    .toggle:before {
        content: '';
    }

    .toggle.active:before {
        content: '';
    }

    #landing-text {
        font-size: 4em;
    }

    #about {
        height: auto;
        display: block;
    }

    .about-text {
        width: 100%;
        height: auto;
        text-align: center;
        padding-top: 50px;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 25px;
    }

    .about-image {
        width: 100%;
    }

    .about-image img {
        width: 70%;
        margin-bottom: 20px;
        border-radius: 20px;
    }

    .socials {
        position: relative;
        justify-content: center;
    }

    .socials li a {
        margin: 10px 15px 0px 15px;
    }

    #skills {
        height: auto;
    }

    .skills-title {
        display: none;
    }

    #projects {
        height: auto;
    }

    .projects-container {
        height: auto;
        grid-template-columns:auto;
        grid-template-rows: 1fr;
    }

    .project-card {
        height: 300px;
    }

    #contact {
        height: auto;
    }

    #contact form {
        height: auto;
        display: block;
        width: 80%;
        margin-top: 10%;
        margin-bottom: 10%;
        justify-content: center;
        text-align: center;
    }

    .contact-heading {
        color: black;
        font-weight: 500;
    }
    
    .contact-left {
        width: 90%;
        margin-left: 5%;
    }

    .contact-right {
        width: 90%;
        margin-left: 5%;
        margin-top: 20px;
        border-left: none;
        border-top: 1px solid rgba(255,255,255,0.5);
        padding-top: 20px;
    }

    .contact-right textarea {
        height: 150px;
    }
}

